# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
logs
nbproject
output
# Next line commented out, because test/webapp-virtual-library and
# test/webapp-virtual-webapp use it:
# target
work
build.properties
mvn.properties
.ant-targets-build.xml
.checkstyle
.classpath
.fbprefs
.project
.settings
.idea
*.iml
*.ipr
*.iws
*.asc
*.jj
*.tmp
maven-ant-tasks-*.jar
thumbs.db
Thumbs.db
bin/setenv.*
java/org/apache/catalina/startup/catalina.properties
modules/jdbc-pool/bin
modules/jdbc-pool/includes
webapps/docs/jdbc-pool.xml
